.root {
    ello-primary-yellow: #FFCC01;
    ello-primary-blue: #6FBEDF;
    ello-black: #090A0A;
    ello-grey-1: #1F1F20;
    ello-grey-2: #2C2C2E;
    ello-grey-3: #9D9DA7;
    ello-green: #22C0BC;
    -fx-font-family: "SansSerif";
    -fx-background-color: ello-black;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: ello-grey-2;
    -fx-text-fill: ello-grey-3;
    -fx-background-radius: 5em;
    -fx-padding: 5px 10px 5px 20px;
}

.text-field:focused {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: transparent
}

.send-icon {
}

.send-icon:hover {
    -fx-opacity: 0.7;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
}

.send-icon:pressed {
    -fx-opacity: 0.5;
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: ello-grey-2;
    -fx-background-radius: 1em
}

.scroll-bar .thumb {
    -fx-background-color: ello-grey-3;
    -fx-background-radius: 2em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}